API_ID = 6805586 # Get it by creating an app on https://my.telegram.org
API_HASH = "ac3bf142f417b00010e986ab81ac6c8c" # Get it by creating an app on https://my.telegram.org
BOT_TOKEN = "" # Get it by creating a bot on https://t.me/BotFather
SUDO_USERS = "1796409010" # List of sudo user's id, separated by space.
DOWNLOAD_DIR = "" # Download directory where to download files. Must ends with forward slash > / <
